.Name{
     font-weight: 300;
     color : #ff7935
}
.School{
     color:#ff35d7;
}
.Total{
     color:#78069e;
}
.formatstyle{
     text-align:center;
     font-size:large;
}
.Score{
     color:#0099ff
}